In [ ]:
%cd ../

import pandas as pd
import numpy as np
import os
from glob import glob

In [ ]:
train_path = "user_data/data/train/data"
test_path = "user_data/data/test"

In [ ]:
def read_data(data_path):
    texts = []
    data_path = os.path.join(data_path, "*.txt")
    print(data_path)

    for file_path in glob(data_path):
        file_name = os.path.basename(file_path)
        with open(file_path, "r",encoding="utf8") as r:
            text = r.read()
        texts.append({"file_name": int(file_name.split(".")[0]), "text": text})
    return pd.DataFrame(texts).sort_values(by="file_name").reset_index(drop=True)

In [ ]:
train_data = read_data(train_path)
test_data = read_data(test_path)

In [ ]:
train_data.text.str.len().max()

In [ ]:
test_data.text.str.len().max()

In [ ]:
train_data.text.str.len().describe(percentiles=[.7, .8, .9, .95])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
train_data.text.str.len().value_counts().plot.bar(xticks=range(0, 1000, 100))
plt.show()

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
test_data.text.str.len().value_counts().plot.bar(xticks=range(0, 1000, 100))
plt.show()

In [ ]:
def read_label(data_path):
    texts = []
    data_path = os.path.join(data_path, "*.csv")

    df = None
    for file_path in glob(data_path):
        file_name = os.path.basename(file_path)
        cur_df = pd.read_csv(file_path)
        if df is None:
            df = cur_df
        else:
            df = pd.concat([df, cur_df])
    return df


train_label_path = "user_data/data/train/label"

train_label = sorted(list(set(read_label(train_label_path).Category.values.tolist())))

In [ ]:
train_label.Category.value_counts()

In [ ]:
import re
non_zh_char = set()

need_char = set("!#$%&\()*+,-./:;<=>?@[\\]^_`{|}~！#￥%&？《》{}“”，：‘’。（）·、；【】")
for text in train_data.text.values.tolist() + test_data.text.values.tolist():
    # char = re.findall("[^\u4e00-\u9fa5_0-9_a-z_A-Z]", text)
    char = re.findall("\W", text)
    non_zh_char.update(char)
non_zh_char - need_char

In [ ]:
a = ['公', '司', '：', '海', '润', '影', '视', '电', '影', '作', '品', '：', '<movie>《', '公', '主', '的', '诱', '惑', '》</movie>', '<movie>《', '恋', '爱', '三', '万', '英', '尺', '》</movie>', '<movie>《', '囍', '上', '加', '喜', '》</movie>', '音', '乐', '作', '品', '：', '同', '名', '专', '辑', '《', 's', '公', '主', '》', '经', '纪', '人', '<name>莲', '莲</name>', '：', '<mobile>1', '3', '9', '1', '0', '2', '2', '0', '8', '9', '2</mobile>', '，', '<position>歌', '手', '演', '员</position>', ' ', '<position>前', '明', '骏', '女', '孩', '组', '合', '队', '长']

In [1]:
train_path = "../user_data/data/train/*.txt"
test_path = "../user_data/data/test/*.txt"
external_path = "../user_data/data/external_data/*.txt"

from glob import glob
import os
import pandas as pd

def read_text(data_path):
    dataset = []

    for data_name in glob(data_path):
        with open(data_name, "r", encoding="utf8") as r:
            text = r.read()
        dataset.append({
            "file_id": os.path.basename(data_name).split(".")[0],
            "text": text

        })
    return pd.DataFrame(dataset)

In [2]:
train_df = read_text(train_path)
test_df = read_text(test_path)
external_df = read_text(external_path)

In [3]:
pd.merge(external_df, train_df, how="inner", on="text")

    file_id_x                                               text file_id_y
0       15134                     他们不但终止了与三亚辰龙的合作，同时举报了出具假保单的机构。      1502
1        7372  海菱也是从朋友的微博里看到方肇新的故事的，看了方肇新的博客和贴出的照片后，她相信这是一个真实...      1545
2       16413      等，“卫特曼”在短短时间内便摧毁了十辆坦克和二十辆装甲车，更不用说让英军损失了几百名士兵。      2062
3       16527   今年要6万分才可以。广发更是停止了积分换礼券的活动。”拥有三四家银行信用卡的上海吴小姐告诉记者。       852
4       13396             张某以及办案民警，揭秘诈骗团伙利用伪造国际信用卡通过pos机刷卡套现的内幕。      1588
..        ...                                                ...       ...
406      7575                      《黑光》预计在最近将举行的游戏开发者会议(GDC)上公布。      2331
407      7831         razer杯dota精英挑战赛将于2009年8月8日在北京中关村鼎好电子城震撼上演。      1152
408     11508                       《艺术与投资》：你觉得一直以来贯穿在所有创作中的是什么？        64
409      6284                                   问：《Rage》今年是没戏了吗？       177
410      5495              portdouglas，而且起飞的时候你需要自己把握风向，因此更有挑战性。      1879

[411 rows x 3 columns]

In [12]:
pd.merge(external_df, test_df, how="inner", on="text")

    file_id_x                                               text file_id_y
0        9938            拿林达海渔广场来说，我们除了酒店、写字楼、商业，我们还配套了一个林达海渔公园。      3111
1        9037                            保险行业协会自行约定手续费上限的行为没有依据。       673
2        5906             《地下城英雄》预定2009年初发售，对应PC和Xbox360平台，价格未定。      2675
3        7961        而作为此次的合作伙伴，游戏风云就韩国OGN电视台总经理郭在根对于此次的合作进行了专访。      2661
4        6004     去马鲁姆火山亲密接触岩浆，在墨西哥玛雅圣井做过洞穴潜水，也在阿富汗光影复原过巴米扬大佛……。      2904
..        ...                                                ...       ...
350      5208                 而纪平表示，参与移库的主要为沿线交通便利的粮库，他的粮库并没有参与。       909
351     13130           索罗斯表示：“相比欧元区国家，英国使用汇率作为调整本国经济的方式拥有更大的空间。      3868
352      5494       新浪房产讯（实习编辑孙雨）名流尊邸（论坛相册户型样板间地图搜索）尾房在售，新房7月开盘。      3789
353      5076  主队强调整体，客队则依靠球星一锤定音。当然努曼西亚的主场优势不容小视。而马竞的客场成绩有待于提高。      1819
354     12828                       造成发卡机构和持卡人资金损失的，央行将追究收单机构责任。      1232

[355 rows x 3 columns]

In [9]:
test_df

     file_id                                               text
0        628  另外，兔年贺岁银条也有望在10月底时开始在本市销售。宝华工贸中心人士介绍说，新华网消息：美国...
1       3036  Lifeislikeaboxofchocolate，youneverknowwhatyoua...
2       3494  2010中国百佳魅力女性，2011中医养生行业品牌女性，浙江横店东磁管理学院院长，国学才女，...
3       1764  个人网站可以了解我的摄影作品：http://wanglinphotography.com/i...
4       1186  作品：胡夏-是我先開口；陳奕迅-兄妹，想哭；羅志祥-最後的風度；5566-一光年；謝安琪-雨...
...      ...                                                ...
3951     683  台湾旅游作家，著有：搭地铁玩遍上海、開始到上海工作就上手。网路行销家，创立台湾第一个线上音乐...
3952    2734  河南省新汇通汽车销售服务有限公司（经营：全球鹰GX7、GC7、远景、自由舰、GX2、熊猫）地...
3953    2137  北京是文化之都，對外來文化都包容，給我創作上的養份，我的心靈比在香港時自由多了，香港编剧，代...
3954    2256  中国戏剧节优秀表演奖；中国青联委员；广东省政协常委；广东省剧协副主席；广东五四青年奖章获得者...
3955     102  由于暴雪(连同GomTV)正就星际争霸知识产权问题与KeSPA(el9和mundodepor...

[3956 rows x 2 columns]

In [8]:
train_df

     file_id                                               text
0        628      IF制作的时候也花费了一定的力气。如果变身系统脱离war3的束缚，会有一些更加有趣的变动。
1       1764                             玛蒂的家族重逢》的6300万＄带来现实气息。
2       1186  单说佩恩。尽管泰勒夫妇作为忠实的合作伙伴连续参与了《关于施密特》和《杯酒人生》，但“导演＋编...
3        420    就可以和新加坡影人一样，享受到新加坡政府“长片资助计划”，以及15亿元新币的私人媒体基金扶持。
4       1011  金石开：卢森堡那场球赢得极其诡异。不过，卢森堡本场的境况和上轮完全不同，消息来源表示，尽管M...
...      ...                                                ...
2510     933  提供给我们很完整地认识曾梵志作品面貌的展览，通过这个展览，很厉害的天才。能够双修而且星际2也...
2511     683  菩提非树明镜无台福在简淡寿始释怀情出于心纯朴久远此意如茶暗香自来！曾经花样滑冰运动员现今演员...
2512    2137  《红楼梦》标准版1月10日提前上市ArxelTribe源于经典影片《沉默的羔羊》开发的动作游...
2513    2256  曾经是一名职业棋手，梦想成为业界顶尖，没达到。现在从事棋类管理工作，梦想是我的队员完成我的梦...
2514     102  第一届北京大学生戏剧节“优秀男演员奖”、《第26届深圳世界大学生运动会》—仪式导演、电影《辛...

[2515 rows x 2 columns]

In [10]:
pd.merge(train_df, test_df, how="inner", on="text")

Empty DataFrame
Columns: [file_id_x, text, file_id_y]
Index: []